.input {
  width: 100%;
  border-radius: 9999px;
  border: 5px solid var(--primary-color);
  padding: var(--m);
  background-color: var(--secondary-color);
  color: inherit;
  font-size: inherit;
}

.input::placeholder {
  color: inherit;
}
